<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Container.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Dropdown.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Forms.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Tabs.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Utils.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Ad.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Footer.css') }}">
        {% block js %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            <div class="navbar">
                <a href={{ url_for('index') }}>Олимпиадник</a>
                <a href={{ url_for('add_olymp') }}>Добавить олимпиаду</a>
                <a href={{ url_for('leaderboard') }}>Таблица лидеров</a>
                {% if is_admin %}
                    <a href={{ url_for('admin_panel') }}>Панель администратора</a>
                {% endif %}
                <a href={{ url_for('get_user', user_id=usr.id) }} class="active" style="float: right">Мой аккаунт</a>
            </div>
        {% endblock %}

        {% block content %}

        {% endblock %}

        <!-- <div class="down-ad-container">
            <a href="http://info.silaeder.ru" target="_blank">
                <img src="{{ url_for('static', filename='image/Ad.png') }}">
            </a>
        </div>
         -->
        <div class="footer">
            <p class="text">Олимпиадник v1.0.10 Copyright 2023 5 & 6 team</p>
        </div>
    </body>
</html>