<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Container.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Dropdown.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Forms.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Tabs.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Utils.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Ad.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Footer.css') }}">
        {% block js %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            <div class="navbar">
                <a href="/">Олимпиадник</a>
                <a href="/add">Добавить олимпиаду</a>
                <a href="/leaderboard">Таблица лидеров</a>
                <a href="/user/" style="float: right" class="active">Мой аккаунт</a>
            </div>
        {% endblock %}

        {% block content %}

        {% endblock %}

        <div class="down-ad-container">
            <a href="http://info.silaeder.ru" target="_blank">
                <img src="{{ url_for('static', filename='image/Ad.png') }}">
            </a>
        </div>
        
        <div class="footer">
            <p class="text">Олимпиадник v1.0.4 by 5&6</p>
        </div>
    </body>
</html>