{% extends "init/Base.html" %}

{% block title %}Главная - Олимпиадник{% endblock %}

{% block navbar %}
    {% if usr.is_authenticated %}
        <div class="navbar">
            <a href={{ url_for('index') }} class="active">Олимпиадник</a>
            <a href={{ url_for('add_olymp') }}>Добавить олимпиаду</a>
            <a href={{ url_for('leaderboard') }}>Таблица лидеров</a>
            {% if is_admin %}
                <a href={{ url_for('admin_panel') }}>Панель администратора</a>
            {% endif %}
            <a href={{ url_for('get_user', user_id=usr.id) }} style="float: right">Мой аккаунт</a>
        </div>
    {% else %}
        <div class="navbar">
            <a href={{ url_for('index') }} class="active">Олимпиадник</a>
            <a href={{ url_for('leaderboard') }}>Таблица лидеров</a>
            <a href={{ url_for('login') }} style="float: right">Вход</a>
            <a href={{ url_for('register') }} style="float: right">Регистрация</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="centered-container">
    <p class="text"><span class="header-text">Добро пожаловать на сайт Олимпиадник</span>
    <p class="text">Он создан для заполнения и сохранения успехов и достижений учащихся. Также вы можете просмотреть рейтинговую таблицу, составленную на основе олимпиад среди всех школьников Силаэдра. </p>
    <p class="hidden-text">Если нашли какую-то ошибку, обратитесь нам: <a href="https://t.me/Polini_D" class="accent">@Polini_D</a></p>
</div>
{% endblock %}