<!DOCTYPE html>
<html>
    <head>
        <title>Неотложные технические работы</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Container.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Dropdown.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Forms.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Tabs.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Utils.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Ad.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/Footer.css') }}">
    </head>
    <body>
        <div class="centered-container">
            <h1 class="header-text">На нашем сервере проходят неотложные технические работы</h1>
            <p class="hidden-text">В данный момент сайт не доступен</p>
        </div>
    </body>
</html>