{% extends "init/Base.html" %}

{% block title %}{{ username }} - Олимпиадник{% endblock %}

{% block navbar %}
    {% if usr.is_authenticated %}
        <div class="navbar">
            <a href={{ url_for('index') }}>Олимпиадник</a>
            <a href={{ url_for('add_olymp') }}>Добавить олимпиаду</a>
            <a href={{ url_for('leaderboard') }}>Таблица лидеров</a>
            {% if is_admin %}
                <a href={{ url_for('admin_panel') }}>Панель администратора</a>
            {% endif %}
            <a href={{ url_for('get_user', user_id=usr.id) }} class="active" style="float: right">Мой аккаунт</a>
        </div>
    {% else %}
        <div class="navbar">
            <a href="/">Олимпиадник</a>
            <a href="/leaderboard">Таблица лидеров</a>
            <a href="/login" style="float: right" class="active">Вход</a>
            <a href="/register" style="float: right">Регистрация</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="centered-container">
        <h1 class="header-text">{{ username }} 
            {% if user.permissions == 1 %}(Администратор){% endif %} 
            {% if user.permissions == 2 %}(Разработчик){% endif %}
        </h1>
        <p class="hidden-text">ID: {{ user.id }}</p>
        <p class="normal-text" style="margin-left: 10%; margin-right: 10%;">Почта: {{ user.email }}</p>
        <p class="normal-text" style="margin-left: 10%; margin-right: 10%;">Очки: {{ user.points }}</p>
        {% if user.id == usr.id %}
            <a href="{{ url_for('edit') }}" class="link">Изменить аккаунт</a>
        {% endif %}
        <div class="top-table">
            <table>
                <thead>
                    <tr>
                        <td scope="col">Олимпиада</td>
                        <td scope="col">Место</td>
                    </tr>
                </thead>
                <tbody>
                    {% for olymp in writed_olymps %}
                        <tr>
                            <td class="text">{{ olymp.name }}</td>
                            <td class="text">{{ olymp.place }}</td>
                        </tr>
                    {% endfor %}
                    {% if len_writed_olymps == 0 %}
                        <tr>
                            <td class="text">Пользователь не написал ни одной олимпиады</td>
                            <td class="text"></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
