{% extends "init/Base.html" %}

{% block title %}Добавление олимпиады - Олимпиадник{% endblock %}

{% block navbar %}
    <div class="navbar">
        <a href="/" class="active">Олимпиадник</a>
        <a href="/add">Добавить олимпиаду</a>
        <a href="/leaderboard">Таблица лидеров</a>
        <a href="/user/{{ usr.id }}" style="float: right">Мой аккаунт</a>
    </div>
{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post">
        <label><h1>Добавление олимпиады</h1></label>
        {% if code == 1 %}
            <label class="danger">Олимпиада уже зарегестрирована</label>
        {% endif %}
        <input type="text" placeholder="Название" name="name" required>
        <textarea placeholder="Описание" name="desc" required></textarea>
        <input type="number" placeholder="Очки за победу" name="pfw" required>
        <input type="number" placeholder="Очки за призёрство" name="pfp" required>
        <input type="number" placeholder="Очки за участие" name="pfm" required>
        <input type="submit" value="Добавить">
    </form>
</div>
{% endblock %}