{% extends "init/Base.html" %}

{% block title %}Добавление олимпиады - Олимпиадник{% endblock %}

{% block navbar %}
    <div class="navbar">
        <a href={{ url_for('index') }}>Олимпиадник</a>
        <a href={{ url_for('add_olymp') }}>Добавить олимпиаду</a>
        <a href={{ url_for('leaderboard') }}>Таблица лидеров</a>
        <a href={{ url_for('admin_panel') }} class="active">Панель администратора</a>
        <a href={{ url_for('get_user', user_id=usr.id) }} style="float: right">Мой аккаунт</a>
    </div>
{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post">
        <label><h1>Изменение олимпиады</h1></label>
        {% if code == 1 %}
            <label class="danger">Олимпиада с этим именем уже существует</label>
        {% endif %}
        <label for="name">Название олимпиады:</label>
        <input type="text" placeholder="Название" name="name" value="{{ olymp.name }}" required>
        <label for="desc">Описание олимпиады:</label>
        <textarea placeholder="Описание" name="desc" required>{{ olymp.description }}</textarea>
        <label for="pfw">Очки за победу:</label>
        <input type="number" placeholder="Очки за победу" name="pfw" value="{{ olymp.points_for_win }}" required>
        <label for="pfw">Очки за приз:</label>
        <input type="number" placeholder="Очки за приз" name="pfp" value="{{ olymp.points_for_prize }}" required>
        <label for="pfw">Очки за участие:</label>
        <input type="number" placeholder="Очки за участие" name="pfm" value="{{ olymp.points_for_member }}" required>
        <input type="submit" value="Добавить">
    </form>
</div>
{% endblock %}