{% extends "init/Base.html" %}

{% block title %}Панель администратора - Олимпиадник{% endblock %}

{% block navbar %}
    <div class="navbar">
        <a href="{{ url_for('index') }}">Олимпиадник</a>
        <a href="{{ url_for('add_olymp') }}">Добавить олимпиаду</a>
        <a href="{{ url_for('leaderboard') }}">Таблица лидеров</a>
        <a href="{{ url_for('admin_panel') }}" class="active">Панель администратора</a>
        <a href="{{ url_for('get_user', user_id=usr.id) }}"" style="float: right">Мой аккаунт</a>
    </div>
{% endblock %}

{% block content %}
<div class="centered-container">
    <p class="text"><span class="header-text">Панель администратора</span>
    <p class="text"><a href="{{ url_for('register_olymp') }}" class="accent">Зарегестрировать олимпиаду</a></p>
    <p class="text"><a href="{{ url_for('list_olymps') }}" class="accent">Список зарегестрированых олимпиад</a></p>
    <p class="text"><a href="{{ url_for('list_usr_olymps') }}" class="accent">Список успехов учеников</a></p>
    <p class="text"><a href="{{ url_for('usr_list') }}" class="accent">Список учеников</a></p>
</div>
{% endblock %}