{% extends "init/Base.html" %}

{% block title %}Список - Олимпиадник{% endblock %}

{% block navbar %}
    <div class="navbar">
        <a href={{ url_for('index') }}>Олимпиадник</a>
        <a href={{ url_for('add_olymp') }}>Добавить олимпиаду</a>
        <a href={{ url_for('leaderboard') }}>Таблица лидеров</a>
        <a href={{ url_for('admin_panel') }} class="active">Панель администратора</a>
        <a href={{ url_for('get_user', user_id=usr.id) }} style="float: right">Мой аккаунт</a>
    </div>
{% endblock %}

{% block content %}
    <div class="filter-container">
        <form method="post">
            <label class="header-text">Сортировка</label><br>
            <label for="sorting1" class="text">Сортировка по фамилии:</label>
            <select name="sorting1">
                <option value="0" selected>Нет</option>
                <option value="1">от А до Я</option>
                <option value="2">от Я до А</option>
            </select><br>
            <label for="sorting2" class="text">Сортировка по месту:</label>
            <select name="sorting2">
                <option value="0" selected>Нет</option>
                <option value="1">Сначала победители</option>
                <option value="2">Сначала участники</option>
            </select><br>
            <label for="sorting3" class="text">Сортировка по классу:</label>
            <select name="sorting3">
                <option value="0" selected>Нет</option>
                <option value="1">От меньшего к большему</option>
                <option value="2">От большего к меньшему</option>
            </select><br>
            <label class="text">Показывать только:</label><br>
            <input type="text" placeholder="Фамилия" name="usr_name"><br>
            <input type="text" placeholder="Олимпиада" name="oli_name"><br>
            <input type="text" placeholder="Класс" name="oli_klass"><br>
            <select name="filtering">
                <option value="0" selected>Все</option>
                <option value="1">Победители</option>
                <option value="2">Призёры</option>
                <option value="3">Участники</option>
            </select><br>
            <input type="submit" value="Применить">
        </form>
    </div>

    <div class="top-table">
        <table>
            <thead>
                <tr>
                    <td>Название олимпиады</td>
                    <td>Участник</td>
                    <td>Место</td>
                </tr>
            </thead>
            <tbody>
                {% for olymp in olymps %}
                    <tr>
                        <td><a href="{{ url_for('olymp', olymp_id=olymp.id) }}" class="accent">{{ olymp.name }}</a>, {{ olymp.klass }} класс</td>
                        <td><a href="{{ url_for('get_user', user_id=olymp.user_id) }}" class="accent">{{ olymp.user }}</a></td>
                        <td>{{ olymp.place }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}