label {
    text-align: start;
    display: block;
    margin: 4px;  
}

.inline label {
    text-align: start;
    display: inline-block;
    margin: 4px;
}

input {
    display: block;
    width: calc(100% - 10px);
    margin: 4px;  
    height: 30px;
}

input[type="submit"] {
    display: block;
    margin: 4px;
    margin-top: 8px;
    background-color: #ffae00;
    border: 1px solid #ffae00;
    color: #f1f1f1;
}

input[type="checkbox"] {
    width: auto;
}

textarea {
    display: block;
    margin: 4px;
    margin-top: 8px;
    height: 300px;
    width: calc(100% - 10px);
}
