body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif, arial, helvetica;
}

.text {
    font-size: medium;
    padding: 8px;
    padding-left: 0px;
}

.normal-text {
    font-size: medium;
    padding: 8px;
    width: 100%;
    text-align: start;
}

.header-text {
    font-size: larger;
    font-weight: bold;
    padding: 8px;
}

.hidden-text {
    font-size: small;
    padding: 8px;
    color: #5a5a5a;
}

.accent {
    color: #ffae00;
}

.link {
    color: #ffae00;
    text-decoration: none;
}

.danger {
    display: block;
    text-align: start;
    text-decoration: none;
    color: #591f1f;
    padding: 16px;
}
