.navbar {
    position: fixed;
    background-color: #f1f1f1;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    top: 0px;
    left: 0px;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: larger;
}

.navbar a:hover {
    background-color: #ffae00;
    color: #f1f1f1;
    transition-duration: 0.3s;
}

.navbar a.active {
    background-color: #ffae00;
    color: #f1f1f1;
}