{% extends "init/Base.html" %}

{% block title %}Добавление олимпиады - Олимпиадник{% endblock %}

{% block navbar %}
    {% if usr.is_authenticated %}
        <div class="navbar">
            <a href={{ url_for('index') }}>Олимпиадник</a>
            <a href={{ url_for('add_olymp') }}>Добавить олимпиаду</a>
            <a href={{ url_for('leaderboard') }} class="active">Таблица лидеров</a>
            {% if is_admin %}
                <a href={{ url_for('admin_panel') }}>Панель администратора</a>
            {% endif %}
            <a href={{ url_for('get_user', user_id=usr.id) }} style="float: right">Мой аккаунт</a>
        </div>
    {% else %}
        <div class="navbar">
            <a href={{ url_for('index') }}>Олимпиадник</a>
            <a href={{ url_for('leaderboard') }} class="active">Таблица лидеров</a>
            <a href={{ url_for('login') }} style="float: right">Вход</a>
            <a href={{ url_for('register') }} style="float: right">Регистрация</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="centered-container">
        {% if not olymp.is_deleted %}
            <h1 class="header-text">{{ olymp.name }}</h1>
            <p class="hidden-text">ID: {{ olymp.id }}</p>
            <p class="normal-text" >{{ olymp.description }}</p>
        {% else %}
            <p class="header-text">Олимпиада {{ olymp.name }} удалена</p>
            <p class="normal-text">Она больше не учитывается в таблице лидеров</p>
        {% endif %}
    </div>
{% endblock %}