{% extends "init/Base.html" %}

{% block title %}Добавление олимпиады - Олимпиадник{% endblock %}

{% block navbar %}
    {% if usr.is_authenticated %}
        <div class="navbar">
            <a href="/">Олимпиадник</a>
            <a href="/add">Добавить олимпиаду</a>
            <a href="/leaderboard">Таблица лидеров</a>
            {% if is_admin %}
                <a href="/admin">Панель администратора</a>
            {% endif %}
            <a href="/user/{{ usr.id }}" style="float: right">Мой аккаунт</a>
        </div>
    {% else %}
        <div class="navbar">
            <a href="/">Олимпиадник</a>
            <a href="/leaderboard">Таблица лидеров</a>
            <a href="/login" style="float: right" class="active">Вход</a>
            <a href="/register" style="float: right">Регистрация</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="centered-container">
        {% if not olymp.is_deleted %}
            <h1 class="header-text">{{ olymp.name }}</h1>
            <p class="hidden-text">ID: {{ olymp.id }}</p>
            <p class="normal-text" >{{ olymp.description }}</p>
        {% else %}
            <p class="header-text">Олимпиада {{ olymp.name }} удалена</p>
            <p class="normal-text">Она больше не учитывается в таблице лидеров</p>
        {% endif %}
    </div>
{% endblock %}