{% extends "init/Base.html" %}

{% block title %}Вы были забанены - Олимпиадник{% endblock %}

{% block navbar %}
    {% if usr.is_authenticated %}
        <div class="navbar">
            <a href={{ url_for('index') }} class="active">Олимпиадник</a>
            <a href={{ url_for('add_olymp') }}>Добавить олимпиаду</a>
            <a href={{ url_for('leaderboard') }}>Таблица лидеров</a>
            <a href={{ url_for('get_user', user_id=usr.id) }} style="float: right">Мой аккаунт</a>
        </div>
    {% else %}
        <div class="navbar">
            <a href={{ url_for('index') }}>Олимпиадник</a>
            <a href={{ url_for('leaderboard') }} class="active">Таблица лидеров</a>
            <a href={{ url_for('login') }} style="float: right">Вход</a>
            <a href={{ url_for('register') }} style="float: right">Регистрация</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="centered-container">
    <p class="text"><span class="header-text">Вы были забанены администратором</span></p>
</div>
{% endblock %}