<form method="post">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="surname" name="surname">
    <input type="text" placeholder="midname" name="midname">
    <input type="text" placeholder="klass" name="klass">
    <input type="text" placeholder="password" name="password">
    <input type="text" placeholder="password_confirmation" name="password_confirmation">
    <input type="submit">
</form>
{{ code }}