{% extends "init/Base.html" %}

{% block title %}Регистрация - Олимпиадник{% endblock %}

{% block navbar %}
    <div class="navbar">
        <a href={{ url_for('index') }}>Олимпиадник</a>
        <a href={{ url_for('leaderboard') }}>Таблица лидеров</a>
        <a href={{ url_for('login') }} style="float: right">Вход</a>
        <a href={{ url_for('register') }} style="float: right" class="active">Регистрация</a>
    </div>
{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post">
        <label><h1>Регистрация</h1></label>
        {% if code == 1 %}
            <label class="danger">Пароли не совпадают</label>
        {% endif %}
        {% if code == 3 %}
            <label class="danger">Мы не сможем хранить и обрабатывать ваши персональные данные, если вы не согласитесь с условиями обработки информации</label>
        {% endif %}
        {% if code == 4 %}
            <label class="danger">Почта уже занята</label>
        {% endif %}
        <label for="email" class="text">Почта:</label>
        <input type="text" placeholder="Введите почту" name="email" value="{{ new_user.email }}" required>
        <label for="name" class="text">ФИО:</label>
        <input type="text" placeholder="Введите имя" name="name" value="{{ new_user.name }}" required>
        <input type="text" placeholder="Введите фамилию" name="surname" value="{{ new_user.surname }}" required>
        <input type="text" placeholder="Введите отчество" name="midname" value="{{ new_user.midname }}" required>
        <label for="email" class="text">Пароль:</label>
        <input type="password" placeholder="Введите пароль" name="pass" required>
        <input type="password" placeholder="Повторите пароль" name="pass2" required>
        <input type="checkbox" name="accept" style="display: unset; text-align: unset;" checked>
        <label for="accept" style="display: unset; text-align: unset;">Я принимаю условия обработки персональной информации</label>
        <input type="submit" value="Регистрация">
    </form>
</div>
{% endblock %}